* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

body {
    background-color: #43465e;
}

header {
    background-color: #db0000;
    text-align: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #181a1a;
    text-align: center;
    justify-content: center;
}

button {
    border: transparent;
    background-color: transparent;
}

.container-carousel {
    display: flex;
    width: 300px;
    overflow-x: hidden;
}

.contos {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
}

.img-conto {
    width: 300px;
    height: auto;
}